*.agdai
*.agda~
#*
'#*

Writeup/Proposal/*
Writeup/Proposal/*.bib
!Writeup/Proposal/*.lagda
!Writeup/Proposal/*.pdf

Writeup/Thesis/*
!Writeup/Thesis/src/*
!Writeup/Thesis/dist/*.pdf

Writeup/TyDe/*
Writeup/TyDe/*.bib
!Writeup/TyDe/*.lagda
!Writeup/TyDe/*.pdf
